/* * {
    outline: 1px solid red;
} */

/* Turns links into basic text links */
.normalize-link {
    color: var(--c-black);
    text-decoration: none;
}

.normalize-link:hover {
    color: var(--c-gray-600);
}

.no-scroll {
    overflow: hidden;
}

.no-scroll::after {
    content: '';
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

/* Hides the content, but keeps it in the DOM for traversal by screen readers. */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Stripts lists of their default styles. */
.normalize-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.normalize--content h1,
.normalize--content h2,
.normalize--content h3,
.normalize--content h4,
.normalize--content h5 {
    margin-top: 5px;
    padding-top: 35px;
    position: relative;
    margin-left: -40px;
    padding-left: 40px;
}

.normalize--content h1:hover .heading-permalink,
.normalize--content h2:hover .heading-permalink,
.normalize--content h3:hover .heading-permalink,
.normalize--content h4:hover .heading-permalink,
.normalize--content h5:hover .heading-permalink {
    display: block;
}

.normalize--content .h3:not(:first-child) {
    margin-top: 50px;
}

.normalize--content p {
    font-size: 1rem;
    line-height: 1.85rem;
}

.normalize--content ul,
.normalize--content ol {
    padding-left: 15px;
    margin-left: 20px;
}

.normalize--content .heading-permalink {
    position: absolute;
    left: 0px;
    opacity: 0.2;
    display: none;
}

.normalize--content img {
    border-radius: 6px;
}

.normalize--content blockquote {
    border-left: 3px solid var(--c-gray-200);
    margin: 0;
    padding-left: 24px;
    font-weight: 600;
}

.normalize--content blockquote > p {
    font-size: 1.1rem;
    margin: 0;
    font-style: italic;
}

.normalize--content a:not(.heading-permalink) {
    text-decoration: underline;
}

.normalize--content hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

[data-theme="dark"] .normalize--content hr {
    border-color: var(--c-gray-900);
    opacity: 0.6;
}

.list--horizontal {
    display: flex;
    gap: 20px;
}

.list--feature {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list--feature li {
    display: flex;
    align-items: flex-start;
    gap: 2px;
    font-size: 1.1rem;
    /* font-weight: 500; */
}

.list--feature li svg {
    max-width: 24px;
    width: 100%;
    margin-top: 2px;
    margin-right: 6px;
}

.hug-contents {
    flex-grow: 0;
    width: fit-content;
    height: fit-content;
}

.danger {
    color: var(--c-red-500) !important;
}

.subdued {
    opacity: 0.6;
}

.vcenter {
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.align--right {
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.outline-card {
    border: 1px solid var(--c-gray-100);
    border-radius: 10px;
    padding: 30px;
}

.outline-card > h3 {
    margin-top: 0px;
}

.highlight {
    background-color: var(--c-blue-500);
    color: var(--c-white);
    padding: 3px 6px;
    padding-bottom: 5px;
    /* border-radius: 6px; */
}

.highlight--subtle {
    background-color: var(--c-blue-100);
    color: var(--c-gray-800);
}

.underline {
    position: relative;
    opacity: 1 !important;
    transition: none !important;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="262" height="26" viewBox="0 0 262 26" fill="none"><path d="M213.053 0C214.247 1.73196 215.053 2.8931 216.074 4.3692C218.981 0.885602 221.671 -2.79479 225.297 3.89686C226.06 5.31392 230.721 2.75528 233.354 2.1058C235.671 2.95209 238.188 4.52669 240.735 4.66446C247.785 5.03841 254.849 4.78255 261.914 4.78255C261.942 5.78629 261.971 6.80968 262 7.81343C258.863 8.14801 255.741 8.6597 252.59 8.77779C221.47 9.95867 190.32 10.5295 159.214 12.3795C126.54 14.3083 93.8941 17.2605 61.2485 20.134C43.4365 21.7085 25.6532 24.0702 7.85563 25.94C6.17227 26.1171 4.23 25.9399 2.80562 24.8968C1.52511 23.9718 0 21.6494 0 19.9568C0 18.461 1.87042 15.8631 3.07899 15.6663C16.1574 13.521 29.2358 11.2577 42.3718 10.0374C56.0257 8.77782 69.7228 8.65976 83.4055 7.97091C96.0954 7.34111 108.8 6.75065 121.475 5.865C131.791 5.15647 142.079 3.68032 152.395 3.22765C156.394 3.05051 160.408 5.21547 164.451 5.45164C166.437 5.56973 170.019 8.81718 170.437 2.28298C170.451 2.02712 171.473 1.51537 171.775 1.75155C175.472 4.52661 179.386 0.334563 182.738 1.94843C186.465 3.75911 189.601 2.97189 193.097 1.73197C194.248 1.31866 195.716 2.99148 197.025 2.99148C198.608 2.99148 200.162 1.98778 201.759 1.81065C203.111 1.6532 204.866 1.3383 205.773 2.30268C208.737 5.39265 210.866 4.56607 213.024 0H213.053Z" fill="%233A84F3"/></svg>');
    display: block;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    transition: clip-path 0.2s;
    transition-delay: 1s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.underline:not(.has-animation)::after {
    transition-delay: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.underline.in-viewport::after {
    /* width: 275px; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (max-width: 450px) {
    .underline::after {
        height: 25px;
        /* width: 200px; */
    }
}

.colorize {
    color: var(--c-blue-500);
}

.strip--mt {
    margin-top: 0px !important;
}

.strip--mb {
    margin-bottom: 0px !important;
}

.padded {
    padding-top: 80px;
    padding-bottom: 80px;
}

.rounded {
    border-radius: 10px;
}

.desktop-only {
    display: inline-flex;
}

.desktop-only--inline {
    display: inline;
}

.mobile-only {
    display: none;
}

.bg--gray {
    background-color: var(--c-gray-bg);
    padding: 60px;
}

[data-theme="dark"] .bg--gray {
    /* background-color: var(--c-blue-900); */
    background-color: var(--c-bg-dark);
}

[data-theme="dark"] .bg--gray .glimmer-container {
    background: radial-gradient(circle 150px at 80% -50%, var(--c-blue-800) 0%, var(--c-blue-800) 89.86%, var(--c-blue-800) 100%);
}

.icon__wrapper {
    background-color: var(--c-blue-bg);
    border-radius: 6px;
    display: flex;
    min-width: 45px;
    max-width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

[data-theme="dark"] .icon__wrapper {
    background-color: var(--c-blue-900);
}

[data-theme="dark"] .nav__submenu__section .icon__wrapper {
    background-color: var(--c-blue-bg);
}

.badge {
    background-color: var(--c-blue-bg);
    color: var(--c-blue-500);
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6rem;
    padding: 3px 5px;
    margin-left: 8px;
    line-height: 0.8rem;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 800px ) {
    .badge {
        order: 2;
        margin-right: 0;
        display: flex;
        align-items: center;
    }
}

.link--external {
    display: flex;
    gap: 5px;
    align-items: center;
}

.link--external::after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    opacity: 0.4;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"><path d="M7 17L17 7" stroke="%23353535" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M7 7H17V17" stroke="%23353535" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
}

/* Lazy Loading */
.lazy-wrapper {
    display: flex;
    border-radius: 10px;
    background-color: var(--c-gray-bg);
}

.lazy,
.lazy-bg,
.lazy-video {
    opacity: 0;
    position: relative;
    /* transform: translateY(50px); */
    transition: opacity 0.4s, transform 0.4s;
}

.lazy--loaded {
    opacity: 1;
    /* transform: translateY(0px); */
}

.has-animation {
    opacity: 0;
    transition: all 0.4s;
}

.in-viewport {
    opacity: 1;
}

.keybind {
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 6px;
    background-color: var(--c-gray-800);
    color: var(--c-white);
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.keybind svg path {
    stroke: var(--c-white);
}

[data-theme="dark"] .keybind {
    background-color: var(--c-gray-100);
    color: var(--c-black);
}

[data-theme="dark"] .keybind svg path {
    stroke: var(--c-black);
}

.error {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 20px 16px;
    border-radius: 10px;
    /* color: var(--c-red-500); */
    /* font-weight: 600; */
    background-color: var(--c-red-50);
    min-width: 150px;
    margin-top: 8px;
}

.error p {
    margin: 0;
}

.error--inline {
    color: var(--c-red-500);
    margin-top: 6px;
    margin-bottom: 0px;
}

.error--small {
    margin-top: 0px;
    padding: 0px;
    background-color: transparent;
}

[data-theme="dark"] .error--default {
    background-color: var(--c-bg-dark);
}

[data-theme="dark"] .error

.error p {
    margin: 0;
}

.not-found {
    text-align: center;
    margin-top: 60px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .desktop-only,
    .desktop-only--inline {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .mobile-only--inline {
        display: inline !important;
    }

    .mobile--bottom {
        order: 2;
    }

    .bg--gray {
        padding: 30px;
        padding-top: 40px;
    }

    .keybind {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .mobile--left {
        text-align: left;
    }
}
    