.archive,
.sidebar {
    margin-top: 80px;
}

.archive,
.archive-wrapper,
.sidebar {
    display: flex;
    flex-direction: column;
}

.archive {
    gap: 24px;
}

.archive-wrapper {
    gap: 40px;
}

.sidebar {
    gap: 50px;
}

.archive .section-label,
.sidebar .section-label {
    opacity: 0.4;
}

.sidebar .section-label {
    display: block;
    margin-bottom: 24px;
}

.topics li {
    margin-bottom: 8px;
}

.popular li {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .archive {
        margin-top: 10px;
    }
    
    .sidebar {
        margin-top: 40px;
    }

    .sidebar .section-label {
        margin-bottom: 15px;
    }

    .sidebar__item.cta {
        display: none;
    }
}
