.benefit-item {
    display: flex;
    gap: 15px;
    /* align-items: flex-start; */
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--c-gray-100);
    /* border-radius: 6px; */
    transform: translateY(20px);
}

.benefit-item--positive .benefit-item__icon,
.benefit-item--arrow .benefit-item__icon {
    background-color: var(--c-blue-bg);
}

.benefit-item--negative .benefit-item__icon {
    background-color: rgba(255, 95, 88, 0.1);
}

.benefit-item.in-viewport {
    transform: translateY(0px);
}

.benefit-item:not(:last-child) {
    margin-bottom: 20px;
}

.benefit-item:nth-child(1) {
    transition-delay: 0.1s;
}

.benefit-item:nth-child(2) {
    transition-delay: 0.2s;
}

.benefit-item:nth-child(3) {
    transition-delay: 0.3s;
}

.benefit-item:nth-child(4) {
    transition-delay: 0.4s;
}

.benefit-item:nth-child(5) {
    transition-delay: 0.5s;
}

.benefit-item:nth-child(6) {
    transition-delay: 0.6s;
}

.benefit-item:nth-child(7) {
    transition-delay: 0.7s;
}

.benefit-item:nth-child(8) {
    transition-delay: 0.8s;
}

.benefit-item:nth-child(9) {
    transition-delay: 0.9s;
}

.benefit-item:nth-child(10) {
    transition-delay: 1.0s;
}

.benefit-item__icon {
    display: flex;
    /* margin-top: 5px; */
    border-radius: 6px;
    padding: 4px;
}

.benefit-item__icon svg {
    min-width: 20px;
    min-height: 20px;
}

.benefit-item__text {
    /* font-weight: 500; */
}

@media screen and (max-width: 450px) {
    .benefit-item {
        margin-top: 15px;
    }

    .benefit-item:not(:last-child) {
        /* margin-bottom: 24px; */
    }
}
