.clarity-call-visualizer {
    background-color: var(--c-black);
    width: 100%;
    height: 550px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    color: var(--c-black);
}

[data-theme="dark"] .clarity-call-visualizer {
    /* background-color: var(--c-bg-dark); */
    background: var(--c-bg-dark--light);
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.clarity-call__chat-bubbles {
    position: absolute;
    right: -100px;
    top: 20px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.clarity-call__chat-bubble {
    padding: 15px;
    border-radius: 10px;
    width: fit-content;
    box-shadow: var(--shadow-elevation-medium);
    transform: translateY(50px);
}

[data-theme="dark"] .clarity-call__chat-bubble {
    box-shadow: var(--shadow-elevation-medium-dark);
}

.clarity-call__chat-bubble.in-viewport {
    transform: translateY(0px);
}

.clarity-call__chat-bubble--light {
    background-color: var(--c-white);
    border-bottom-left-radius: 0px;
    transition-delay: 3s;
}

.clarity-call__chat-bubble--dark {
    background-color: var(--c-gray-900);

    color: var(--c-white);
    border-bottom-right-radius: 0px;
    transition-delay: 3.5s;
}

[data-theme="dark"] .clarity-call__chat-bubble--dark {
    background-color: var(--c-blue-800);
}

.clarity-call__chat-bubble > p {
    font-weight: 500;
    font-size: 0.9rem;
}

.clarity-call-visualizer__video-wrapper {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    height: 100%;
    background-size: 200px 200px;
    background-repeat: repeat;
}

.clarity-call-visualizer__partner-video-wrapper {
    background-color: var(--c-black);
    position: absolute;
    border-radius: 10px;
    border: 3px solid var(--c-white);
    overflow: hidden;
    right: -40px;
    bottom: 80px;
    width: 125px;
    height: 165px;
    z-index: 3;
    background-size: 200px 200px;
    background-repeat: repeat;
}

.clarity-call-visualizer__partner-video-wrapper .clarity-call-visualizer__loading {
    top: 50%;
}

.clarity-call-visualizer__loading-spinner {
    animation: spin 2s linear infinite;
}

.clarity-call-visualizer__video {
    transform: scale(2.5) translateY(25%);
    z-index: 1;
}

.clarity-call-visualizer__loading {
    color: var(--c-gray-300);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 0;
}

.clarity-call-visualizer__loading > span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.clarity-call-visualizer__controls {
    background-color: var(--c-gray-900);
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

[data-theme="dark"] .clarity-call-visualizer__controls {
    background-color: var(--c-simulated-dark);
}

.clarity-call-visualizer__control {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--c-gray-700);
}

.clarity-call-visualizer__control--danger {
    background-color: var(--c-red-500);
}

.clarity-call-visualizer__control--danger:hover {
    opacity: 0.8;
}

.clarity-call-visualizer__control--light {
    background-color: var(--c-white);
}

[data-theme="dark"] .clarity-call-visualizer__control {
    /* background-color: var(--c-blue-800); */
    background-color: var(--c-simulated-lighter);
}

[data-theme="dark"] .clarity-call-visualizer__control--danger {
    background-color: var(--c-red-500);
}

[data-theme="dark"] .clarity-call-visualizer__control--light {
    background-color: var(--c-white);
}

[data-theme="dark"] .clarity-call-visualizer__partner-video-wrapper {
    border: 3px solid var(--c-blue-1000);
    background-color: var(--c-simulated-dark);
}

@media screen and (max-width: 768px) {
    .clarity-call__chat-bubbles {
        right: -15px;
    }

    .clarity-call-visualizer__partner-video-wrapper {
        right: -15px;
    }
}
