.comparison-chart { }

.comparison-chart__wrapper {
    display: flex;
    gap: 0;
}

.comparison-chart__cell {
    width: 100%;
    display: flex;
}

.comparison-chart__column:not(:first-child) .comparison-chart__cell {
    justify-content: center;
}

.comparison-chart__cell:not(.comparison-chart__header) {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--c-gray-100);
}

.comparison-chart__column:first-child .comparison-chart__cell{
    padding-right: 30px;
}

.comparison-chart__cell:last-child {
    border-bottom: 0;
    padding-bottom: 30px;
}

.comparison-chart__cell > p {
    /* font-weight: 500; */
    line-height: 20px;
}

.comparison-chart__header {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.comparison-chart__header > p {
    font-weight: 600;
    font-size: 1.1rem;
}

.comparison-chart__cell:not(:last-child) {
    margin-bottom: 20px;
}

.comparison-chart__column {
    /* padding: 20px; */
}

.comparison-chart__column:first-child {
    padding-left: 0;
}

.comparison-chart__column--data {
    text-align: center;
    width: 100%;
    flex: 1;
}

.comparison-chart__column--data .comparison-chart__header {
    justify-content: center;
}

.comparison-chart__column--emphasized {
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(58, 132, 243, 0.10) inset;
}

.comparison-chart__scroll-callout {
    display: none;
}

@media screen and (max-width: 650px) {
    .comparison-chart {
        position: relative;
        width: calc(100vw - 60px);
        margin-bottom: 40px;
    }

    .comparison-chart__window {
        width: 100vw;
        overflow-x: scroll;
    }

    .comparison-chart__scroll-callout {
        display: block;
        position: absolute;
        bottom: -45px;
        right: -15px;
        opacity: 0.4;
        display: flex;
        gap: 2px;
        align-items: center;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
    }

    .comparison-chart__scroll-callout path {
        stroke-width: 1.5px;
    }

    .comparison-chart__wrapper {
        width: 800px;
    }

    .comparison-chart__column--data {
        max-width: 175px;
    }

    .comparison-chart__cell > p {
        font-size: 14px;
    }
}
