.functional-visualizer {
    background-color: var(--c-gray-50);
    box-shadow: var(--shadow-inner);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    min-width: 1000px;
    height: 550px;
    overflow: hidden;
    padding: 30px;
}

[data-theme="dark"] .clarity-call-visualizer {
    /* background-color: var(--c-bg-dark); */
    background: var(--c-bg-dark--light);
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.functional-visualizer__components {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.functional-visualizer__component {
    padding: 16px;
    background-color: rgba(230, 232, 233, 0.40);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.functional-visualizer__component__label {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

/* Functional Components */
/* ========== */

.functional-visualizer__component {
    /* animation: scroll-component-left 20s linear; */
}

@keyframes scroll-component-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Move by total width of all items (333x + (x-1) * 30 + 30) */
    }
}


/* Button */
.func-btn {
    padding: 9px 6px;
    border-radius: 6px;
    line-height: 1;
}

.func-btn--secondary {
    background-color: var(--c-black);
    color: var(--c-white);
    font-weight: 500;
}

.func-btn--xs {
    font-size: 0.8rem;
}

/* Chat message input */
.func-chat-msg-input {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 6px;
    box-shadow: var(--shadow-tight);
    background-color: var(--c-white);
    text-align: left;
    padding: 12px;
    min-width: 400px;
}

.func-chat-msg-input__input > p {
    font-size: 0.8rem;
    margin: 0;
    opacity: 0.6;
}

.func-chat-msg-input__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.func-chat-msg-input__tools__left {
    display: flex;
    gap: 6px;
}

.func-chat-msg-input__tools__right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.func-chat-msg-input__tools__right__extra {
    display: flex;
    gap: 6px;
    padding-right: 10px;
    border-right: 2px solid var(--c-gray-200);
}

/* Bar chart */
.func-bar-chart {
    background-color: var(--c-white);
    border-radius: 12px;
    box-shadow: var(--shadow-tight);
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 3px;
    max-width: 315px;
}

.func-bar-chart__stat,
.func-bar-chart__stat__delta {
    line-height: 1;
}

.func-bar-chart__stat {
    font-weight: 600;
    font-size: 1.4rem;
    display: flex;
    align-items: flex-end;
    gap: 6px;
    margin: 0;
}

.func-bar-chart__stat__delta {
    color: var(--c-green-500);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 2px;
}

.func-bar-chart__byline {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    margin-top: 10px;
}

.func-bar-chart__body {
    opacity: 0.6;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5;
}

.func-bar-chart__chart {}

.func-bar-chart__chart__bars {
    display: flex;
    /* gap: 4px; */
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}

.func-bar-chart__chart__bars__bar {
    display: flex;
    flex-direction: column;
    width: 32px;
    /* height: 50px; */
}

.func-bar-chart__chart__bars__bar > span {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.func-bar-chart__chart__bars__bar__primary {
    background-color: var(--c-blue-500);
}

.func-bar-chart__chart__bars__bar:nth-child(5n+1) .func-bar-chart__chart__bars__bar__primary { height: 50px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+2) .func-bar-chart__chart__bars__bar__primary { height: 90px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+3) .func-bar-chart__chart__bars__bar__primary { height: 75px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+4) .func-bar-chart__chart__bars__bar__primary { height: 85px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+5) .func-bar-chart__chart__bars__bar__primary { height: 20px; }

.func-bar-chart__chart__bars__bar__secondary {
    background-color: var(--c-blue-300);
    margin-bottom: -10px;
}

.func-bar-chart__chart__bars__bar:nth-child(5n+1) .func-bar-chart__chart__bars__bar__secondary { height: 30px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+2) .func-bar-chart__chart__bars__bar__secondary { height: 40px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+3) .func-bar-chart__chart__bars__bar__secondary { height: 20px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+4) .func-bar-chart__chart__bars__bar__secondary { height: 30px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+5) .func-bar-chart__chart__bars__bar__secondary { height: 60px; }

.func-bar-chart__chart__bars__bar__tertiary {
    background-color: var(--c-gray-100);
    margin-bottom: -10px;
}

.func-bar-chart__chart__bars__bar:nth-child(5n+1) .func-bar-chart__chart__bars__bar__tertiary { height: 30px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+2) .func-bar-chart__chart__bars__bar__tertiary { height: 25px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+3) .func-bar-chart__chart__bars__bar__tertiary { height: 35px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+4) .func-bar-chart__chart__bars__bar__tertiary { height: 30px; }
.func-bar-chart__chart__bars__bar:nth-child(5n+5) .func-bar-chart__chart__bars__bar__tertiary { height: 25px; }

.func-bar-chart__chart__labels {
    display: flex;
    justify-content: space-between;
}

.func-bar-chart__chart__label {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0px;
}

.func-bar-chart__chart__key {
    display: flex;
    gap: 10px;
    margin-top: 16px;
}

.func-bar-chart__chart__key__item {
    margin: 0;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.func-bar-chart__chart__key__swatch {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 6px;
}

.func-bar-chart__chart__key__swatch--primary {
    background-color: var(--c-blue-500);
}

.func-bar-chart__chart__key__swatch--secondary {
    background-color: var(--c-blue-300);
}

.func-bar-chart__chart__key__swatch--tertiary {
    background-color: var(--c-gray-100);
}

/* Chat Message */
.func-chat-msg {
    display: flex;
    width: 450px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
    background: var(--c-white);
    border-radius: 10px;
    padding: 16px;
}

.func-chat-msg__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: var(--c-blue-100);
    color: var(--c-blue-500);
    min-width: 35px;
    min-height: 35px;
    font-weight: bold;
    position: relative;
}

.func-chat-msg__status-icon {
    background-color: var(--c-blue-500);
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 2px solid var(--c-white);
    position: absolute;
    bottom: -5px;
    right: -5px;
}

.func-chat-msg__main {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.func-chat-msg__body {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.6;
}

.func-chat-msg__attribution {
    display: flex;
    gap: 6px;
    align-items: flex-end;
}

.func-chat-msg__attribution > p {
    margin: 0;
    line-height: 1;
}

.func-chat-msg__attribution__username {
    font-weight: 600;
    font-size: 0.875rem;
}

.func-chat-msg__attribution__timestamp {
    opacity: 0.6;
    font-size: 0.65rem;
}

.func-chat-msg__reactions {
    display: flex;
    gap: 6px;
    margin-top: 6px;
}

.func-chat-msg__reactions__reaction {
    border: 1px solid var(--c-gray-100);
    border-radius: 6px;
    font-size: 0.8rem;
    line-height: 1;
    font-weight: 600;
    padding: 6px 6px;
}

.func-chat-msg__reactions__reaction--active {
    background-color: var(--c-blue-100);
    border: 1px solid var(--c-blue-300);
}

.func-chat-msg__replies {
    font-size: 0.875rem;
    line-height: 1.6;
    font-weight: 600;
    color: var(--c-blue-500);
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 0;
    margin-top: 6px;
}
