.functional-visualizer {
    background-color: var(--c-gray-100);
    box-shadow: var(--shadow-inner);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    min-width: 1000px;
    height: 550px;
}

[data-theme="dark"] .clarity-call-visualizer {
    /* background-color: var(--c-bg-dark); */
    background: var(--c-bg-dark--light);
    /* background-color: rgba(255, 255, 255, 0.1); */
}
