/* #homepage-hero {
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(50px);
    transition-delay: 0.2s;
}

#homepage-hero.ready {
    opacity: 1;
    transform: translateY(0px);
} */



/*

#homepage-hero h1.ready {
    opacity: 1;
    transform: translateX(0px);
}

#homepage-hero p.body--large {
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateX(50px);
    transition-delay: 0.5s;
}

#homepage-hero p.body--large.ready {
    opacity: 1;
    transform: translateX(0px);
}

#homepage-hero .cta-wrap {
    opacity: 0;
    transition: opacity 0.4s;
}

#homepage-hero .cta-wrap.ready {
    opacity: 1;
    transition-delay: 0.8s;
} */

.homepage-hero__btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 18px;
}

@media screen and (max-width: 768px) {
    .homepage-hero__btn {
        padding: 15px 20px;
    }
}
