.impact-visualizer {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid var(--c-gray-outline);
    margin-top: 24px;
    /* box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.05); */
    /* box-shadow: var(--shadow-elevation-medium); */
    /* transform: scale(1.05); */
}

[data-theme="dark"] .impact-visualizer {
    border: 1px solid var(--c-bg-dark);
}

.impact-visualizer--comparison .impact-visualizer__graph__bars {
    height: 250px;
}

.impact-visualizer--comparison .impact-visualizer__graph__bar {
    width: 30px;
}

.impact-visualizer--comparison .impact-visualizer__graph__labels {
    padding: 0 15px;
    margin-top: 5px;
}

.impact-visualizer--comparison .impact-visualizer__graph__label {
    width: 100px;
    text-align: center;
}

.impact-visualizer__graph-wrapper {
    height: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--c-gray-100);
}

[data-theme="dark"] .impact-visualizer__graph-wrapper,
[data-theme="dark"] .impact-visualizer__graph__line {
    border-bottom: 1px solid var(--c-bg-dark);
    background-color: 1px solid var(--c-bg-dark);
}

.impact-visualizer__graph-wrapper--stats-hidden {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0px;
}

[data-theme="dark"] .impact-visualizer__graph-wrapper--stats-hidden {
    border-bottom: 0px;
}

/* Header */
.impact-visualizer__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.impact-visualizer__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.impact-visualizer__label {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
}

[data-theme="dark"] .impact-visualizer__label {
    opacity: 0.4;
}

.impact-visualizer__value {
    font-weight: 700;
}

.impact-visualizer__keys {
    display: flex;
    gap: 15px;
}

.impact-visualizer__key {
    display: flex;
    align-items: center;
    gap: 5px;
}

.impact-visualizer__key > p {
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
}

.impact-visualizer__swatch {
    width: 12px;
    height: 12px;
    border-radius: 2px;
}

.impact-visualizer__swatch--before {
    background-color: var(--c-gray-100);
}

[data-theme="dark"] .impact-visualizer__swatch--before {
    background-color: var(--c-gray-800);
}

.impact-visualizer__swatch--after {
    background-color: var(--c-blue-500);
}

/* Graph */
.impact-visualizer__graph {
    
}

.impact-visualizer__graph__bars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 120px;
    position: relative;
}

.impact-visualizer__graph__bars--space-between {
    padding: 0 30px;
}

.impact-visualizer__graph__bar {
    width: 14px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: var(--c-gray-100);
    height: 0%;
}

[data-theme="dark"] .impact-visualizer__graph__bar:not(.impact-visualizer__graph__bar--after) {
    background-color: var(--c-gray-800);
}

.impact-visualizer__graph__bar--after {
    background-color: var(--c-blue-500);
    transition-delay: 0.5s;
}

.impact-visualizer__graph__bar:nth-child(1).in-viewport {
    height: 10%;
}

.impact-visualizer__graph__bar:nth-child(2).in-viewport {
    height: 6%;
}

.impact-visualizer__graph__bar:nth-child(3).in-viewport {
    height: 14%;
}

.impact-visualizer__graph__bar:nth-child(4).in-viewport {
    height: 8%;
}

.impact-visualizer__graph__bar:nth-child(5).in-viewport {
    height: 16%;
}

.impact-visualizer__graph__bar:nth-child(6).in-viewport {
    height: 12%;
}

.impact-visualizer__graph__bar:nth-child(7).in-viewport {
    height: 24%;
}

.impact-visualizer__graph__bar:nth-child(8).in-viewport {
    height: 32%;
}

.impact-visualizer__graph__bar:nth-child(9).in-viewport {
    height: 41%;
}

.impact-visualizer__graph__bar:nth-child(10).in-viewport {
    height: 77%;
}

.impact-visualizer__graph__bar:nth-child(11).in-viewport {
    height: 81%;
}

.impact-visualizer__graph__bar:nth-child(12).in-viewport {
    height: 75%;
}

.impact-visualizer__graph__bar:nth-child(13).in-viewport {
    height: 87%;
}

.impact-visualizer__graph__bar:nth-child(14).in-viewport {
    height: 92%;
}

.impact-visualizer__graph__bar-group {
    display: flex;
    gap: 8px;
    height: 100%;
    align-items: flex-end;
}

.impact-visualizer__graph__bar-group:nth-child(1) .impact-visualizer__graph__bar:nth-child(1).in-viewport {
    height: 95%;
}

.impact-visualizer__graph__bar-group:nth-child(1) .impact-visualizer__graph__bar:nth-child(2).in-viewport {
    height: 95%;
}

.impact-visualizer__graph__bar-group:nth-child(2) .impact-visualizer__graph__bar:nth-child(1).in-viewport {
    height: 33%;
}

.impact-visualizer__graph__bar-group:nth-child(2) .impact-visualizer__graph__bar:nth-child(2).in-viewport {
    height: 66%;
}

.impact-visualizer__graph__bar-group:nth-child(3) .impact-visualizer__graph__bar:nth-child(1).in-viewport {
    height: 16.5%;
}

.impact-visualizer__graph__bar-group:nth-child(3) .impact-visualizer__graph__bar:nth-child(2).in-viewport {
    height: 33%;
}

.impact-visualizer__graph__lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}

.impact-visualizer__graph__line {
    width: 100%;
    height: 1px;
    background-color: var(--c-gray-100);    
}

.impact-visualizer__graph__labels {
    display: flex;
    justify-content: space-between;
}

.impact-visualizer__graph__labels--space-between {
    padding: 0 15px;
}

.impact-visualizer__graph__label {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
}

/* Stats */
.impact-visualizer__stat-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.impact-visualizer__stat-row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.impact-visualizer__stat {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.impact-visualizer__stat__label {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.6;
    text-align: left;
}

[data-theme="dark"] .impact-visualizer__stat__label,
[data-theme="dark"] .impact-visualizer__graph__label {
    opacity: 0.4;
}

.impact-visualizer__stat__value-wrapper {
    display: flex;
    justify-content: space-between;
}

.impact-visualizer__stat__value {
    font-weight: 700;
}

.impact-visualizer__stat__delta {
    color: var(--c-blue-500);
    font-size: 12px;
    font-weight: 600;
}

@media screen and (max-width: 678px) {
    .impact-visualizer {
        transform: none !important;
    }
}

@media screen and (max-width: 450px) {
    .impact-visualizer {
        margin-top: 20px;
    }
}
