nav.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 40px;
}

.nav__section {
    display: flex;
    align-items: center;
}

.nav__section--left {
    flex-basis: 250px;
    max-width: 250px;
}

.nav__section--right > .nav__items {
    gap: 15px;
}

.nav__logo {
    margin-right: 60px;
    margin-bottom: 0;
    font-weight: 700;
}

.nav__logo img {
    max-width: 60px;
}

.nav__items {
    display: flex;
    gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__items--dropdown {
    background-color: var(--c-white);
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 50px;
    border-radius: 12px;
    border: 1px solid var(--c-gray-bg);
    min-width: 225px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    z-index: 2;
}

.nav__items__item {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.nav__items__item .btn--secondary {
    /* background-color: var(--c-gray-100); */
    /* color: var(--c-gray-800); */
}

.nav__items_item a {
    color: var(--c-gray-900);
}

.nav__items__item--dropdown {
    position: relative;
}

.nav__items__item--user > a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__items__item .btn--sexy {
    margin-left: 10px;
}

.nav__logo {
    font-size: 1.4rem;
    line-height: 1.4rem;
}

nav.secondary-nav {
    margin-bottom: 60px;
}

.secondary-nav__items {
    display: flex;
    gap: 24px;
    border-bottom: 1px solid var(--c-gray-100);
}

.secondary-nav__item {
    display: flex;
    opacity: 0.6;
    padding: 10px 0px;
}

.secondary-nav__item:hover,
.secondary-nav__item--active {
    opacity: 1;
}

.secondary-nav__item--active {
    border-bottom: 1px solid var(--c-black);
    font-weight: 500;
}

.nav__logo--desktop {
    display: block;
}

.nav__logo--mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .content-header,
    .page-title {
        position: relative;
        padding: 0 !important;
    }

    .content-header .page-title,
    .page-title__wrapper {
        padding: 30px;
    }

    nav.nav {
        border-bottom: 1px solid var(--c-gray-100);
        padding: 20px 30px;
        margin-bottom: 0px;
    }

    .nav__logo {
        margin-right: 0px;
    }

    .nav__section--left {
        flex-basis: auto;
        max-width: auto;
    }

    .nav__items__item--dropdown {
        position: static;
    }

    .nav__items--dropdown {
        width: 100vw;
        top: 105px;
        border-radius: 0;
        box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.05);
        padding: 30px;
        gap: 24px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .nav__items--dropdown li,
    .nav__items--dropdown li > a {
        display: block;
    }

    .nav__items--dropdown .nav__items__item,
    .nav__items--dropdown .nav__items__item .btn {
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 450px) {
    .nav__logo--desktop {
        display: none;
    }
    
    .nav__logo--mobile {
        display: block;
    }
}