.newsletter-opt-in {
    /* margin-top: 60px; */
    padding-top: 60px;
    padding-bottom: 60px;
}

.newsletter-opt-in__title {
    margin-top: 0;
    line-height: 2.2rem;
}

.newsletter-opt-in .content-wrapper {
    background-color: var(--c-blue-bg);
    /* background: linear-gradient(180deg, #EBF3FE 0%, #FFF 100%); */
    border-radius: 10px;
    padding: 75px;
}

.newsletter-opt-in__image-container {
    display: flex;
}

.newsletter-opt-in__image-container img {
    width: 100%;
}

.newsletter-opt-in__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.newsletter-opt-in__form .form-item {
    width: 100%;
}

.newsletter-opt-in__aside {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.6;
}

.newsletter-opt-in__testimonials {
    margin-top: 30px;
}

.newsletter-opt-in__testimonials .section-label {
    opacity: 0.6;
}

.newsletter-opt-in__testimonials .testimonial {
    width: 100%;
    max-width: calc((100% / 12) * 6);
}
