.newsletter-opt-in {
    /* margin-top: 60px; */
    padding-top: 40px;
    padding-bottom: 60px;
}

.newsletter-opt-in__title {
    margin-top: 0;
}

.newsletter-opt-in .content-wrapper {
    background-color: var(--c-blue-bg);
    box-shadow: 0px 0px 30px 0px rgba(58, 132, 243, 0.20) inset;
    border-radius: 10px;
    padding: 75px;
    position: relative;
    z-index: 1;
}

.newsletter-opt-in__image-container {
    position: relative;
}

.newsletter-opt-in__image {
    display: flex;
    position: relative;
}

.newsletter-opt-in__image {
    transform: translateY(100px);
    border: 3px solid var(--c-blue-bg);
}

.newsletter-opt-in__image.in-viewport {
    transform: translateX(0px);
}

.newsletter-opt-in__image.flair {
    position: absolute;
    z-index: 0;
    /* opacity: 0.6; */
}

.newsletter-opt-in__image.flair.in-viewport {
    /* opacity: 0.6; */
}

.newsletter-opt-in__image.flair:nth-child(1) {
    transition-delay: 0s;
    top: -20px;
    left: -20px;
}

.newsletter-opt-in__image.flair:nth-child(2) {
    transition-delay: 0.10s;
    top: -10px;
    left: -10px;
}

.newsletter-opt-in__image:not(.flair) {
    transition-delay: 0.2s;
}

.newsletter-opt-in__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.newsletter-opt-in__form .form-item {
    width: 100%;
}

.newsletter-opt-in__aside {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.6;
}

.newsletter-opt-in__testimonials {
    margin-top: 30px;
}

.newsletter-opt-in__testimonials .section-label {
    opacity: 0.6;
}

.newsletter-opt-in__testimonials .testimonial {
    width: 100%;
    max-width: calc((100% / 12) * 6);
}

.newsletter-opt-in__testimonials .separator {
    margin-bottom: 40px;
}

.newsletter-opt-in__bg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 450px) { 
    .newsletter-opt-in .content-wrapper {
        padding: 30px;
    }

    .newsletter-opt-in__testimonials .testimonial {
        max-width: 100%;       
    }
}
