.podcast-appearance__title-wrapper {
    display: flex;
    gap: 20px;
}

.podcast-appearance__featured-image {
    min-width: 100px;
    height: 100px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
}

.podcast-appearance__podcast-name {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2rem;
    opacity: 0.6;
}

.podcast-appearance:not(:last-child) {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--c-gray-100);
}

[data-theme="dark"] .podcast-appearance:not(:last-child) {
    border-bottom: 1px solid var(--c-gray-800);
}

[data-theme="dark"] .podcast-appearance__podcast-name {
    opacity: 0.4;
}

@media screen and (max-width: 768px) {
    .podcast-appearance__title-wrapper {
        flex-direction: column;
    }

    .podcast-appearance__featured-image {
        height: 150px;
    }

    .podcast-appearance__header {
        font-size: 1.75rem;
    }
}
