.pricing-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-bottom: 40px;
}

.pricing-options__header {
    text-align: center;
}

.pricing-options__options {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.pricing-options__option {
    padding: 45px 24px;
    max-width: 50%;
    border: 1px solid var(--c-gray-100);
    border-radius: 10px;
}

[data-theme="dark"] .pricing-options__option {
    background: rgb(255, 255, 255, 0.075);
    border: none;
}

.pricing-options__option--preferred {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -4px 0px inset;
    position: relative;
}

[data-theme="dark"] .pricing-options__option--preferred {
    /* box-shadow: rgba(255, 255, 255, 0.2) 0px 2px 4px, rgba(255, 255, 255, 0.2) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -4px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 7px 13px -3px, #3A84F3 0px -4px 0px inset; */
    /* box-shadow: #3A84F3 0px 2px 4px, #3A84F3 0px 7px 13px -3px, #3A84F3 0px -4px 0px inset; */
    box-shadow: rgba(58, 132, 243, 0.4) 0px 2px 4px, rgba(58, 132, 243, 0.4) 0px 7px 13px -3px, rgba(58, 132, 243, 0.5) 0px -4px 0px inset;

}

.pricing-options__option--preferred::before {
    content: 'Best Value';
    position: absolute;
    left: 20px;
    top: 0px;
    padding: 8px 15px;
    background-color: var(--c-blue-bg);
    color: var(--c-blue-500);
    font-weight: 600;
    border-radius: 30px;
    transform: translateY(-50%);
}

[data-theme="dark"] .pricing-options__option--preferred::before {
    background-color: var(--c-blue-800);
    color: var(--c-blue-100);
}

.pricing-options__option__price {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.pricing-options__option__currency {
    font-size: 1rem;
}

.pricing-options__options__benefits {
    margin-top: 30px;
    padding-top: 24px;
    border-top: 1px solid var(--c-blue-100);
}

[data-theme="dark"] .pricing-options__options__benefits {
    border-top: 1px solid var(--c-bg-dark);
}

.pricing-options__options__benefits .list--feature li {
    font-size: 1rem;
}

.pricing-options__option--featured {
    /* max-width: calc(700px + 32px); */
    max-width: 100%;
    width: 100%;
    display: flex;
    gap: 32px;
    box-shadow: 0px 0px 30px 0px rgba(58, 132, 243, 0.20) inset;
    background-color: var(--c-blue-bg);
    border: none;
    padding: 50px;
}

[data-theme="dark"] .pricing-options__option--featured{
    background-color: var(--c-blue-900);
    box-shadow: 0px 0px 30px 0px rgba(58, 132, 243, 0.20) inset;
}

.pricing-options__option__text {
    min-width: 300px;
}

.pricing-options__option__title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.pricing-options__option__title path {
    stroke: var(--c-blue-500);
}

@media screen and (max-width: 678px) {
    .pricing-options__options {
        flex-direction: column;
        width: 100%;
    }

    .pricing-options__option {
        width: 100%;
        max-width: 100%;
    }

    .pricing-options__option--featured {
        flex-direction: column;
        /* max-width: 350px; */
        padding: 45px 24px;
    }

    .pricing-options__option--featured .quick-scan-hero__actions {
        max-width: 300px;
        width: auto;
    }

    .pricing-options__option--featured .pricing-options__option__text {
        min-width: auto;
    }
}

@media screen and (max-width: 450px) {
    .pricing-options__option--featured .quick-scan-hero__actions,
    .pricing-options__option a.btn {
        max-width: 100%;
        width: 100%;
    }
}
