.resource-hero {
    margin-bottom: 30px;
}

.resource-hero + .row.padded {
    padding-bottom: 20px;
}

.resource-hero__title {
    margin-top: 0;
    /* font-size: 2.8rem; */
    /* line-height: 3.8rem; */
}

.resource-hero__image-wrapper {
    text-align: center;
    display: flex;
}

.resource-hero__text form {
    align-items: flex-end;
    margin-top: 50px;
}

.resource-hero__text .newsletter-opt-in__aside {
    margin-top: 10px;
}

.resource-hero__image-wrapper .newsletter-opt-in__image {
    border: 2px solid var(--c-white);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.05);
}

.resource-hero__cta-button {
    gap: 8px;
    align-items: center;
}

.resource-hero__cta-button svg path {
    stroke: var(--c-white);
}

[data-theme="dark"] .resource-hero__cta-button svg path {
    stroke: var(--c-black);
}
