.resource-hero {
    margin-bottom: 30px;
}

.resource-hero + .row.padded {
    padding-bottom: 20px;
}

.resource-hero__text {
    
}

.resource-hero__title {
    margin-top: 0;
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.resource-hero__image-wrapper {
    text-align: center;
    display: flex;
}

.resource-hero__image {
    border-radius: 10px;
    /* max-height: 425px; */
}
