.showcase {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* transform: translateX(-50%); */
    position: relative;
}

.showcase__occluder__wrap {
    width: 100vw;
    position: absolute;
    height: 100%;
    z-index: 1;
}

.showcase__occluder {
    width: 350px;
    height: 100%;
    background-color: red;
    position: absolute;
}

@media screen and (max-width: 550px) {
    .showcase__occluder {
        width: 75px;
    }
}

.showcase__occluder--left {
    left: 0px;
    background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

.showcase__occluder--right {
    right: 0px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

[data-theme="dark"] .showcase__occluder--left {
    background: linear-gradient(90deg, var(--c-blue-1000) 0%, rgba(255, 255, 255, 0.00) 100%);
}

[data-theme="dark"] .showcase__occluder--right {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, var(--c-blue-1000) 100%);
}

.showcase__row {
    display: flex;
    position: relative;
    z-index: 0;
    flex-wrap: nowrap;
    gap: 30px;
    animation: scroll-showcase-left 40s linear infinite;
}

.showcase__row:last-child {
    /* transform: translateX(-150px); */
    animation: scroll-showcase-right 40s linear infinite;
}

.showcase__item {
    width: 333px;
    height: 235px;
    background-size: cover;
    background-position: top center;
    background-color: var(--c-gray-100);
    opacity: 1;
    border-radius: 10px;
    box-shadow: var(--shadow-tight);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.showcase__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: var(--c-gray-100);
    z-index: 1;
    transition: opacity 0.3s;
}

[data-theme="dark"] .showcase__item {
    box-shadow: var(--shadow-tight-dark);
    background-color: var(--c-blue-800);
}

[data-theme="dark"] .showcase__item::before {
    box-shadow: var(--shadow-tight-dark);
    background-color: var(--c-blue-800);
}

.showcase__item.lazy--loaded::before {
    opacity: 0;
}

@keyframes scroll-showcase-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * (1665px + 150px))); /* Move by total width of all items */
    }
}

@keyframes scroll-showcase-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc((1665px + 150px))); /* Move by total width of all items */
    }
}

@media screen and (max-width: 450px) {
    .showcase__row:last-child {
        display: none;
    }
}