.social-proof {
    display: flex;
    padding-left: 22px;
    margin-top: 10px;
    gap: 10px;
    font-weight: 500;
    text-align: left;
}

/* .social-proof > p {
    font-size: 0.9rem;
} */

.social-proof__items {
    display: flex;
    align-items: center;
}

.social-proof__item {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: cover;
    margin-left: -22px;
    border: 3px solid var(--c-white);
}

[data-theme="dark"] .social-proof__item {
    border: 3px solid var(--c-blue-1000);
}
