.statistics {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.statistics__header {
    margin: 0;
}

.statistics__group {
    display: flex;
    gap: 15px;
    row-gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.statistics__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: calc( 50% - 15px ); */
    width: fit-content;
}

.statistics__item:nth-child(1) {
    border-right: 1px solid var(--c-gray-100);
    padding-right: 75px;
}

[data-theme="dark"] .statistics__item:nth-child(1) {
    border-right: 1px solid var(--c-bg-dark);
}

.statistics__item:nth-child(2) {
    padding-left: 75px;
}

.statistics__item__header,
.statistics__item__body {
    margin-top: 0;
    margin-bottom: 0;
}

.statistics__item__header {
    line-height: 1;
    /* border-left: 3px solid var(--c-blue-500); */
}

.statistics__item__body {
    opacity: 0.7;
    font-size: 0.95rem;
}

[data-theme="dark"] .statistics__item__body {
    opacity: 0.5;
}

@media screen and (max-width: 810px) {
    /* .statistics__group {
        flex-direction: column;
    } */

    .statistics__item:nth-child(1) {
        padding-right: 40px;
    }

    .statistics__item:nth-child(2) {
        padding-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .statistics__item:nth-child(2) {
        padding-right: 40px;
    }

    .statistics__item:not(:last-child) {
        border-right: 1px solid var(--c-gray-100);
    }

    [data-theme="dark"] .statistics__item:not(:last-child) {
        border-right: 1px solid var(--c-bg-dark);
    }
    
    .statistics__item:not(:first-child) {
        padding-left: 40px;
    }
}

@media screen and (max-width: 620px) {
    .statistics__item {
        /* width: calc(50% - 15px); */
    }

    .statistics__item:nth-child(2) {
        padding-right: 40px;
    }

    .statistics__item:first-child {
        border-right: 1px solid var(--c-gray-100);
    }

    .statistics__item:nth-child(2) {
        border-right: 0px;
        width: 50%;
    }
    
    .statistics__item:last-child {
        padding-left: 0px;
    }
}

@media screen and (max-width: 450px) {
    .statistics__group {
        flex-wrap: wrap;
        gap: 35px;
    }

    .statistics__item {
        max-width: 100%;
        width: 100% !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        border: 0px !important;
    }

    .statistics__item:not(:last-child) {
        border-bottom: 1px solid var(--c-gray-100) !important;
        padding-bottom: 20px;
    }

    [data-theme="dark"] .statistics__item:not(:last-child) {
        border-bottom: 1px solid var(--c-bg-dark) !important;
    }
}
