.statistics {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.statistics__header {
    margin: 0;
}

.statistics__group {
    display: flex;
    gap: 15px;
    row-gap: 40px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.statistics__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: calc( 50% - 15px ); */
    width: fit-content;
}

.statistics__item:nth-child(1) {
    border-right: 1px solid var(--c-gray-100);
    padding-right: 75px;
}

[data-theme="dark"] .statistics__item:nth-child(1) {
    border-right: 1px solid var(--c-bg-dark);
}

.statistics__item:nth-child(2) {
    padding-left: 75px;
}

.statistics__item__header,
.statistics__item__body {
    margin-top: 0;
    margin-bottom: 0;
}

.statistics__item__header {
    line-height: 1;
    /* border-left: 3px solid var(--c-blue-500); */
}

.statistics__item__body {
    opacity: 0.7;
    font-size: 0.95rem;
}

[data-theme="dark"] .statistics__item__body {
    opacity: 0.5;
}

@media screen and (max-width: 450px) {
    .statistics__group {
        flex-wrap: wrap;
        gap: 35px;
    }

    .statistics__item {
        max-width: 100%;
        width: 100%;
    }
}
