.task-visualizer {
    width: 100%;
    position: relative;
    background: #FFFFFF;
    padding: 24px;
    border-radius: 10px;
    border: 1px solid var(--c-gray-100);
    /* box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.15); */
    transform: scale(1.05);
}

.task-visualizer p {
    margin: 0;
    text-align: left;
}

.task-visualizer__header {}

.task-visualizer__header__title {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
    margin-bottom: 20px !important;
}

.task-visualizer__tracker {
    margin-bottom: 20px;
}

.task-visualizer__tracker__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px !important;
}

.task-visualizer__tracker__title p {
    font-size: 0.9rem;
}

.task-visualizer__tracker__progress {
    height: 4px;
    background-color: var(--c-gray-100);
    position: relative;
}

.task-visualizer__tracker__progress__current,
.task-visualizer__tracker__progress__optimal {
    position: absolute;
    left: 0;
    height: 100%;
}


.task-visualizer__tracker__progress__current {
    background-color: var(--c-blue-600);
    width: 10%;
    z-index: 1;
}

.task-visualizer__tracker__progress__optimal {
    background-color: var(--c-blue-200);
    width: 30%;
}

.task-visualizer__list__title {
    font-size: 0.8rem;
    opacity: 0.6;
    font-weight: 600;
}

.task-visualizer__list__items {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.task-visualizer__list__item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.task-visualizer__list__item__radio {
    display: flex;
    opacity: 0.4;
}

.task-visualizer__list__item p {
    font-size: 0.8rem;
}

.task-visualizer__list__item:not(:last-child) {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--c-gray-100);
}

.task-visualizer__list__item__high-impact {
    color: var(--c-orange-500);
    font-size: 0.75rem;
    margin-left: auto;
    font-weight: 600;
}
