.teardown-visualizer {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
}

.teardown-visualizer__loader {
    position: absolute;
    left: 50%;
    top: 50%;
    animation: loader-spin 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 1;
    transition: opacity 0.3s;
}

[data-theme="dark"] .teardown-visualizer__loader path {
    stroke: var(--c-white);
}

.teardown-visualizer__loader.complete {
    opacity: 0;
}

@keyframes loader-spin {
    0% {
        transform: translateX(-50%) translateY(-50%) rotateZ(0deg) scale(1.8);
    }

    100% {
        transform: translateX(-50%) translateY(-50%) rotateZ(360deg) scale(1.8);
    }
}

.teardown-visualizer__callout {
    position: absolute;
    bottom: 0px;
    left: -125px;
}

[data-theme="dark"] .teardown-visualizer__callout path {
    fill: var(--c-white);
}

.teardown-visualizer .inbox-visualizer__macbook__shine {
    z-index: 1;
    background: white;
    opacity: 0.2;
}

[data-theme="dark"] .teardown-visualizer .inbox-visualizer__macbook__shine {
    display: none;
}

.teardown-visualizer.active .teardown-visualizer__phone {
    filter: none;
}

.teardown-visualizer__emoji {
    position: absolute;
    font-size: 5rem;
    top: 0;
    left: -40px;
}

.teardown-visualizer p {
    margin: 0;
}

.teardown-visualizer__comments {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.teardown-visualizer__comment {
    background-color: var(--c-blue-500);
    display: inline-flex;
    padding: 12px 20px;
    color: var(--c-white);
    border-radius: 20px;
    border-top-left-radius: 0px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    /* border: 2px solid var(--c-blue-600); */
    position: absolute;
    z-index: 3;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.2s, transform 0.2s;
}

.teardown-visualizer__comment::after {
    content: 'Marc M.';
    position: absolute;
    bottom: -30px;
    left: 0px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40), 0px 1px 2px rgba(0, 0, 0, 0.80);
}

.teardown-visualizer__comment.active {
    opacity: 1;
    transform: translateX(0px);
}

.teardown-visualizer__comment p {
    margin: 0;
}

.teardown-visualizer__comment:nth-child(1) {
    top: 85px;
    right: -80px;
}

.teardown-visualizer__comment:nth-child(2) {
    top: 195px;
    right: -100px;
}

.teardown-visualizer__comment:nth-child(3) {
    top: 325px;
    right: -60px;
}

.teardown-visualizer__comment:nth-child(4) {
    top: 385px;
    right: -100px;
}

.teardown-visualizer__comment:nth-child(5) {
    top: 485px;
    right: -100px;
}

.teardown-visualizer__phone {
    border: 10px solid var(--c-black);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom: none;
    padding-bottom: 20px;
    height: 525px;
    overflow: hidden;
    position: relative;
    padding-top: 35px;
    /* z-index: 2; */
    filter: blur(5px);
    transition: filter 0.3s;
    /* font-family: 'Inter', sans-serif; */
    font-family: "Afacad Flux", serif;
}

[data-theme="dark"] .teardown-visualizer__phone {
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 10px solid rgba(255, 255, 255, 0.1); */
    border: 10px solid var(--c-gray-900);
    border-bottom: none;
}

.teardown-visualizer__phone__snackbox {
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    height: 10px;
    width: 80px;
    background-color: var(--c-black);
    border-radius: 20px;
    z-index: 2;
}

[data-theme="dark"] .teardown-visualizer__phone__snackbox {
    /* background-color: rgba(255, 255, 255, 0.1); */
    background-color: var(--c-gray-900);
}

.teardown-visualizer__phone__header {
    position: absolute;
    left: 24px;
    top: 5px;
    right: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

[data-theme="dark"] .teardown-visualizer__phone__header svg path {
    stroke: var(--c-white);
}

.teardown-visualizer__phone__header > span {
    display: flex;
    gap: 8px;
    font-size: 0.8rem;
    font-weight: 600;
}

.teardown-visualizer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    transition: margin-left 0.2s, 
        margin-right 0.2s, 
        margin-top 0.2s,
        border-radius 0.2s,
        background-color 0.2s,
        box-shadow 0.2s;
}

[data-theme="dark"] .teardown-visualizer__header.fixed {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .teardown-visualizer__header__buttons svg path {
    stroke: var(--c-white);
}

.teardown-visualizer__header.fixed {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    border-radius: 30px;
    padding: 15px 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.teardown-visualizer__header__logo {
    font-weight: 700;
}

.teardown-visualizer__header__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.teardown-visualizer__body {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.teardown-visualizer__hero {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
    padding: 0px 20px;
    text-align: center;
}

.teardown-visualizer__hero__title {
    font-size: 2.4rem;
    line-height: 1.1;
}

.teardown-visualizer__hero__actions {
    display: flex;
    gap: 6px;
    margin: 0 auto;
    margin-top: 20px;
}

.teardown-visualizer__hero__action {
    padding: 6px 12px;
    display: flex;
    border-radius: 6px;
    font-weight: 600;
    pointer-events: none;
}

.teardown-visualizer__hero__action p {
    font-size: 0.9rem;
}

.teardown-visualizer__hero__action--primary {
    background-color: var(--c-gray-100);
    color: var(--c-black);
}

.teardown-visualizer__hero__action--secondary {
    /* background-color: var(--c-black); */
    border: 1px solid var(--c-gray-100);
    color: var(--c-black);
    display: flex;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s;
}

[data-theme="dark"] .teardown-visualizer__hero__action--secondary {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: var(--c-white);
}

.teardown-visualizer__hero__action--secondary.active {
    opacity: 1;
    position: static;
}

.teardown-visualizer__features {
    padding: 0px 20px;
}

.teardown-visualizer__feature {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.teardown-visualizer__feature__body {
    font-size: 0.9rem;
    line-height: 1.3;
    opacity: 0.8;
}

[data-theme="dark"] .teardown-visualizer__feature__body {
    opacity: 0.6;
}

.teardown-visualizer__brands {
    display: flex;
    opacity: 0;
    overflow: hidden;
    gap: 20px;
    width: 140%;
    margin: 0 auto;
    transform: translateX(-15%);
    transition: opacity 0.3s;
    position: absolute;
}

.teardown-visualizer__brands.active {
    opacity: 1;
    position: static;
}

.teardown-visualizer__brand {
    min-height: 30px;
}

[data-theme="dark"] .teardown-visualizer__brand {
    opacity: 0.3;
}

.teardown-visualizer__images {
    display: flex;
    gap: 20px;
    width: calc(190px * 3 + 40px);
    transform: translateX(-25%);
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
}

[data-theme="dark"] .teardown-visualizer__image {
    background-color: rgba(255, 255, 255, 0.1);
}

.teardown-visualizer__images.active {
    opacity: 1;
    position: static;
}

.teardown-visualizer__image {
    width: 190px;
    height: 190px;
    border-radius: 10px;
    background-color: var(--c-gray-100);
}

.teardown-visualizer__feature__title {
    font-weight: 600;
}

@media screen and (max-width: 678px) {
    .teardown-visualizer__callout {
        display: none;
    }

    .teardown-visualizer__comment:nth-child(1) {
        right: -20px;
    }
    
    .teardown-visualizer__comment:nth-child(2) {
        right: -20px;
    }
    
    .teardown-visualizer__comment:nth-child(3) {
        right: -20px;
    }
    
    .teardown-visualizer__comment:nth-child(4) {
        right: -20px;
    }
    
    .teardown-visualizer__comment:nth-child(5) {
        right: -20px;
    }
}

@media screen and (max-width: 400px) {
    .teardown-visualizer__comment:nth-child(1) {
        right: 0px;
    }
    
    .teardown-visualizer__comment:nth-child(2) {
        right: 0px;
    }
    
    .teardown-visualizer__comment:nth-child(3) {
        right: 0px;
    }
    
    .teardown-visualizer__comment:nth-child(4) {
        right: 0px;
    }
    
    .teardown-visualizer__comment:nth-child(5) {
        right: 0px;
    }
}

