.testimonial {
    display: flex;
    gap: 15px;
    width: 100%;
}

[data-theme="dark"] .archive .testimonial:not(:last-child) {
    border-bottom: 1px solid var(--c-gray-800);
}

.testimonials {
    display: flex;
    gap: 50px;
}

.archive .testimonial:not(:last-child) {
    padding-bottom: 40px;
    border-bottom: 1px solid var(--c-gray-100);
}

.testimonial__text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.testimonial__content,
.testimonial__attribution,
.testimonial__role {
    margin-top: 0;
    margin-bottom: 0;
}

.testimonial__attribution {
    font-weight: 600;
}

.testimonial__role {
    opacity: 0.8;
}

[data-theme="dark"] .testimonial__role {
    opacity: 0.4;
}

.testimonial__source {
    display: flex;
    gap: 15px;
    align-items: center;
}

.testimonials__profile-photo {
    min-width: 50px;
    height: 50px;
    background-color: var(--c-gray-bg);
    background-size: cover;
    border-radius: 10px;
}

@media screen and (max-width: 450px) {
    .testimonials {
        flex-direction: column;
    }
}
