.toast {
    position: fixed;
    left: 50%;
    bottom: 30px;
    padding: 12px 18px;
    background-color: var(--c-black);
    color: var(--c-white);
    border-radius: 6px;
    transform: translateX(-50%);
    font-weight: 600;
    animation: toast 8s;
    animation-fill-mode: forwards;
    display: flex;
    gap: 6px;
    align-items: center;
    min-width: 400px;
}

[data-theme="dark"] .toast {
    background-color: var(--c-white);
    color: var(--c-black);
}

@keyframes toast {
    0% {
        transform: translateX(-50%) translateY(175%);
    }

    5% {
        transform: translateX(-50%) translateY(0%);
    }

    95% {
        transform: translateX(-50%) translateY(0%);
    }

    100% {
        transform: translateX(-50%) translateY(175%);
    }
}

@media screen and (max-width: 400px) {
    .toast {
        display: none;
    }
}