.btn {
    background-color: var(--c-gray-100);
    border-radius: 6px;
    color: var(--c-black-500);
    /* display: inline-block; */
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1rem;
    padding: 12px 20px;
    height: 40px;
    text-align: center !important;
    justify-content: center;
}

.btn:hover {
    opacity: 0.85;
}

.btn--primary {
    background-color: var(--c-blue-500);
}

.btn--secondary {
    background-color: var(--c-black);
    color: var(--c-white);
    /* background: radial-gradient(closest-corner, #2A2929 0%, #020202 89.86%, #020202 100%); */
}

[data-theme="dark"] .btn--secondary {
    background-color: var(--c-white);
    color: var(--c-black);
}

.btn--tertiary {
    background-color: transparent;
    border: 1px solid var(--c-gray-100);
    color: var(--c-black);
}

.btn--tertiary:hover {
    background-color: var(--c-gray-50);
}

[data-theme="dark"] .btn--tertiary {
    border: 1px solid rgba(255, 255, 255, 0.0);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn--link {
    background-color: transparent;
    font-weight: normal;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-decoration: underline;
    opacity: 0.7;
}

.btn--link:hover {
    opacity: 1;
}

.btn--glimmer {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    /* background: linear-gradient(90deg, rgba(27, 27, 27, 1), rgba(51, 51, 51, 1)); */
    border: none;
    cursor: pointer;
    overflow: hidden;

    background: radial-gradient(430.26% 135.12% at 95.69% 7.78%, #2A2929 0%, #020202 89.86%, #020202 100%);
}

.btn--large {
    padding: 15px 20px;
    font-size: 1.1rem;
    height: 48px !important;
}

.btn--icon {
    display: flex;
    gap: 8px;
    align-items: center;
}

.glimmer-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 2px;
    border-radius: 8px;
    transition: transform 0.2s;
    background: radial-gradient(circle 150px at 80% -10%, #dad4d4 0%, #020202 89.86%, #020202 100%);
}

.glimmer-container > .btn {
    width: 100%;
    height: 100%;
    animation: pop 0.2s ease-in-out 4s; /* Pop once */
    background: radial-gradient(circle 150px at 80% -50%, #5b5858 0%, #020202 89.86%, #020202 100%);
    position: relative;
    border-radius: 6px;
    /* z-index: 3; */
    /* background: transparent; */
}

.glimmer-container > .btn .keybind {
    background-color: var(--c-gray-900);
}

[data-theme="dark"] .glimmer-container > .btn .keybind {
    background-color: var(--c-blue-700);
    color: var(--c-white);
}

[data-theme="dark"] .glimmer-container > .btn .keybind path {
    stroke: var(--c-white);
}


[data-theme="dark"] .glimmer-container {
    background: radial-gradient(circle 150px at 80% -10%, var(--c-blue-700) 0%, var(--c-blue-900) 89.86%, var(--c-blue-900) 100%);
}

[data-theme="dark"] .glimmer-container > .btn {
    background: radial-gradient(circle 150px at 80% -50%, var(--c-blue-800) 0%, var(--c-blue-900) 89.86%, var(--c-blue-900) 100%);
    z-index: 3;
}

[data-theme="dark"] .glimmer-container > .btn path {
    stroke: var(--c-white);
}

.glimmer-container:hover {
    /* transform: translateY(-2px); */
    opacity: 1;
}

.glimmer-container:hover .btn {
    /* opacity: 1; */
}

[data-theme="dark"] .glimmer-container > .btn {
    color: var(--c-white);
}

.glimmer-container .blob {
    position: absolute;
    width: 70px;
    height: 100%;
    border-radius: 6px;
    bottom: 0;
    left: 0;
    background: radial-gradient(
        circle 60px at 0% 100%,
        var(--c-blue-500),
        var(--c-blue-800),
        transparent
    );
    box-shadow: -10px 10px 30px #0051ff2d;
}

.glimmer-container::before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: radial-gradient(
        circle 60px at 0% 100%,
        #5b5858,
        #202020,
        transparent
    );
    position: absolute;
}

.glimmer-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg, 
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0.1) 25%, 
        rgba(255, 255, 255, 0.4) 50%, 
        rgba(255, 255, 255, 0.1) 75%, 
        rgba(255, 255, 255, 0) 100%);
    transition: opacity 0.3s ease-in-out;
    opacity: 0.7;
    pointer-events: none;
    animation: glimmer 4s ease-in-out infinite;
    z-index: 2;
}

[data-theme="dark"] .glimmer-container::after {
    background: linear-gradient(
        90deg, 
        rgba(125, 125, 125, 0) 0%, 
        rgba(125, 125, 125, 0.1) 25%, 
        rgba(125, 125, 125, 0.4) 50%, 
        rgba(125, 125, 125, 0.1) 75%, 
        rgba(125, 125, 125, 0) 100%);
}


.glimmer-container > .btn:hover {
    animation: pop 0.2s ease-in-out;
}

.btn--sexy {
    background-color: var(--c-yellow-600);
    padding: 0;
}

.btn--sexy__text {
    background-color: var(--c-yellow-500);
    border-radius: 6px;
    cursor: pointer;
    display: block;
    outline-offset: 4px;
    padding: 12px 20px;
    transform: translateY(-4px);
    white-space: nowrap;
}

.btn--sexy:active .btn--sexy__text {
    transform: translateY(-2px);
}

a {
    color: var(--c-gray-800);
    text-decoration: none;
}

[data-theme="dark"] a {
    color: var(--c-white);
}

.button-group {
    display: flex;
    gap: 10px;
    margin-top: 45px;
}

.button-wrap {
    display: flex;
}

@media screen and (max-width: 400px) {
    .button-group > * {
        max-width: 100%;
        width: 100%;
    }

    .glimmer-container {
        width: 100%;
    }
}
