:root{
    /* Nuetrals */
    --c-black: #020202;
    --c-white: #FFFFFF;
    
    --c-black-80: rgba(0, 0, 0, 0.8);
    --c-black-60: rgba(0, 0, 0, 0.6);
    --c-black-40: rgba(0, 0, 0, 0.4);
    --c-black-20: rgba(0, 0, 0, 0.2);

    --c-gray-900: #1B1B1B;
    --c-gray-800: #353535;
    --c-gray-700: #4E4E4E;
    --c-gray-600: #676767;
    --c-gray-500: #818181;
    --c-gray-400: #9A9A9A;
    --c-gray-300: #B3B3B3;
    --c-gray-200: #CCCCCC;
    --c-gray-100: #E6E6E6;
    --c-gray-50: #FAFAFA;

    --c-gray-outline: #EDEDED;
    --c-gray-bg: #F7F7F7;

    /* Primary Accent 1 */
    --c-blue-1000: #060d18;
    --c-blue-900: #0c1a31;
    --c-blue-800: #173561;
    --c-blue-700: #234f92;
    --c-blue-600: #2e6ac2;
    --c-blue-500: #3A84F3;
    --c-blue-400: #619df5;
    --c-blue-300: #89b5f8;
    --c-blue-200: #b0cefa;
    --c-blue-100: #d8e6fd;
    --c-blue-bg: #ebf3fe;

    /* Orange */
    --c-orange-500: #FE6C17;

    /* Semantic */
    --c-red-500: #FF6056;
    --c-yellow-500: #FEBB2E;
    --c-green-500: #2AC840;
}

body {
    background-color: var(--c-white);
}

[data-theme="dark"] body {
    background-color: var(--c-blue-1000);
}
