html {
    color: var(--c-gray-800);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: normal; */
    font-weight: 450;
    font-style: normal;
    font-size: var(--font-base); /* 16px */
    line-height: 1.8rem;
}

::placeholder,
input {
    font-family: "Plus Jakarta Sans", sans-serif;
}

html[data-theme="dark"]  {
    color: var(--c-white);
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-weight: 800;
    margin-bottom: 1.5rem;
}

h1, .h1 {
    font-size: 3.2rem;
    line-height: 4.2rem;
}

h2, .h2 {
    font-size: 2.46rem;
    /* font-size: 2.488rem; */
    /* font-size: 1.802rem; */
    line-height: 3.2rem;
    /* font-weight: 700; */
}

h3, .h3 {
    font-size: 1.89rem;
    /* font-size: 2.074rem; */
    /* font-size: 1.602rem; */
    line-height: 2.64rem;
    font-weight: 700 !important;
}

h4, .h4 {
    font-size: 1.46rem;
    /* font-size: 1.728rem; */
    /* font-size: 1.424rem; */
    line-height: 2.12rem;
    font-weight: 700;
}

h5, .h5 {
    font-size: 1.12rem;
    /* font-size: 1.44rem; */
    /* font-size: 1.266rem; */
    line-height: 1.72rem;
}

p  {
    font-size: 1rem;
    line-height: 1.6rem;
}

[data-theme="dark"] p {
    opacity: 0.8;
}

.body--large {
    font-size: 1.1rem;
    line-height: 1.7;
}

.text--hero {
    font-size: 3.5rem;
    line-height: 4.2rem;
    font-weight: 800;
    letter-spacing: 0.25px;
}

.text--bold {
    font-weight: 800;
}

strong {
    font-weight: 700;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="submit"],
textarea,
button {
    font-family: "Plus Jakarta Sans", sans-serif;
}

input[type="submit"],
button {
    font-weight: 500;
}

.section-label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

a:hover {
    opacity: 0.75;
}

.link--inline {
    text-decoration: underline;
}

ul {
    padding-left: 30px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: var(--font-base-mobile);
    }
    
    .text--hero {
        margin-top: 48px !important;
    }
}

@media screen and (max-width: 450px) {
    h1, h2, h3, h4, h5,
    .h1, .h2, .h3, .h4, .h5,
    .text--hero {
        line-height: 1.2;
    }

    h1, .h1, .text--hero {
        /* font-size: 3.125rem; */
        /* font-size: 2.3rem; */
        font-size: 2.575rem;
    }

    h2, .h2 {
        /* font-size: 2.5rem; */
        font-size: 1.8em;
        
        /* font-size: 8.25vw; */
    }

    h3, .h3 {
        /* font-size: 7.75vw; */
        /* font-size: 2.3rem; */
        font-size: 1.6rem;
    }

    h4, .h4 {
        font-size: 1.4rem;
    }

    p > small {
        line-height: 1.2rem;
    }

    .body--large {
        font-size: 1.05rem;
    }
}
