@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    color: var(--c-gray-800);
    font-family: "DM Sans", sans-serif;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-base); /* 16px */
    line-height: 1.8rem;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-weight: 600;
    margin-bottom: 0.25rem;
}

h1, h2,
.h1, .h2 {
    font-weight: 700;
}

h1, .h1 {
    font-size: 2.55rem;
    /* font-size: 2.986rem; */
    /* font-size: 2.027rem; */
    line-height: 3.2rem;
}

h2, .h2 {
    font-size: 1.875rem;
    /* font-size: 2.488rem; */
    /* font-size: 1.802rem; */
    line-height: 2.4rem;
}

h3, .h3 {
    font-size: 1.5rem;
    /* font-size: 2.074rem; */
    /* font-size: 1.602rem; */
    line-height: 2rem;
}

h4, .h4 {
    font-size: 1.25rem;
    /* font-size: 1.728rem; */
    /* font-size: 1.424rem; */
    line-height: 1.6rem;
}

h5, .h5 {

    font-size: 1.125rem;
    /* font-size: 1.44rem; */
    /* font-size: 1.266rem; */
    line-height: 1.4rem;
}

p  {
    font-size: 1rem;
    line-height: 1.6rem;
}

.body--large {

    font-size: 1.2rem;
    line-height: 1.8rem;
}

strong {
    font-weight: 600;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
input[type="number"],
input[type="submit"],
textarea,
button {
    font-family: "Plus Jakarta Sans", sans-serif;
}

input[type="submit"],
button {
    font-weight: 500;
}

.section-label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

a:hover {
    opacity: 0.75;
}

@media screen and (max-width: 768px) {
    /* html {
        font-size: var(--font-base-mobile);
    } */
}
